#agentresults-div {
    display: flex;
    flex-direction: column;
}

.result-div {
    display: flex;
    border: 1px solid black;
    height: 60px;
    width:100%;
    align-items: center;
}

.resultdiv-info {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    
}

.resultdiv-info p {
   font-size: 14px; 
}

.result-div img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 5%;
}