.lead-div {
    display:flex;
    border: 1px solid silver;
    width: 100%;
    align-items: center;
}

.lead-div span {
    color:silver;
    position: absolute;
    left: 90%;
}
.lead-div p {
    position: relative;
    left: 5%;
}

#lead-details {
    margin-left: 5%;
    margin-right: 5%;
}