#listings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#listing-display {
    width: 75%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 25px;
    
}

#listing-display img {
    width:100%;
    height:50vw;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid black;
}

#listing-div1 {
    display: flex;
    border-top: 1px solid black;
    justify-content: center;
    gap:25px;
}

#listing-buttons {
    position: relative;
    bottom: 200px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#listing-buttons span {
    transform: scale(1.5);
}

#listing-buttons span:active {
    transform: scale(1.1);
}

#listing-display h1 {
    width: 100%;
    text-align: center;
}

#listing-display h1 {
    font-size: smaller;
}

#listings-div2 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

#listings-div2 span:active {
    color:red;
}

#like-div, #dislike-div {
    display: flex;
    align-items: center;
    gap:15px;
}

#listings-comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75vw;
}

.listing-comment {
    border: 1px solid #0277bd;
    display: flex;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 2px 2px gray;
}

.listing-comment h1 {
    font-size: 12px;
    width:55%;
}

.listing-comment p {
    width: 35%;
    display: flex;
    justify-content: center;
}

#new-commentdiv {
    border: 1px solid black;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    height: 60px;
    margin-top: 25px;
}

#comment-input {
    width: 60%;
    font-size: small;
    height: 80%;
}

#comment-button {
    font-size: smaller;
    padding: 10px;
    border-radius: 20px;
}