#login-page {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#login-page img {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#login-page h1 {
    color: blue;
    text-align: center;
}
#login-page form {
    display: flex;
    flex-direction: column;
    width:90%;
    border:none;
}

#login-page p {
    position: relative;
    top: 30vh;
    text-align: center;
    color: blue;
}

#login-page label {
    color: blue;
}

#login-page input {
    background-color: blue;
    color: white;
}

#login-page button {
    background-color: #1f80f8;
    color: white;
    border-radius: 10px;
}

#login-page  ::placeholder {
    color: white
}