#new-referral {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#new-referral form {
    position: relative;
    top:25px;
    display: flex;
    flex-direction: column;
    width:95%;
    gap:10px;
}

form {
    display: flex;
    flex-direction: column;
    
}

input {
    font-size: 25px;
}

button {
    background-color: #0277bd;
    color:white;
    font-size: 25px;
    border-radius: 3px;
    border: 1px solid black;
}