#agentsearch-page input{
    border-radius: 10px;
    width:80%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#agentsearch-page button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: relative;
    top:70vh ;
}

#agentsearch-page label {
    margin-left: auto;
    margin-right: auto;
}

#agentsearch-page form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#specialty-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left:auto;
    margin-right: auto;
}

 #specialty-selection select {
    border:2px solid green;
}