#signup-page {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#signup-page img {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

#signup-page h1 {
    color: blue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    margin-top: -25px;
}
#signup-page form {
    display: flex;
    flex-direction: column;
    width:90%;
    margin-top: -25px;
    border:none;
}

#signup-page p {
    position: relative;
    text-align: center;
    color: blue;
    top:50px;
}

#signup-page label {
    color: blue;
}

#signup-page input {
    background-color: blue;
    color: white;
}

#signup-page button {
    background-color: lightblue;
    color: white;
    border-radius: 10px;
    position: relative;
    top:25px;
}