#signup-page {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#signup-page img {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

#signup-page h1 {
    color: #0277bd;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    margin-top: -25px;
}
#signup-page form {
    display: flex;
    flex-direction: column;
    width:90%;
    margin-top: -25px;
    border:none;
}

#signup-page p {
    position: relative;
    text-align: center;
    color: #0277bd;
    top:50px;
    cursor:default;
}

#signup-page label {
    color: #0277bd;
}

#signup-page input {
    background-color: #0277bd;
    color: white;
}

#signup-page form button {
    background-color: lightblue;
    color: white;
    border-radius: 10px;
    position: relative;
    top:25px;
}

#signup-page ::placeholder {
    color:white;
}

#photoupload-div {
    width: 90%;
    margin-bottom: 20px;
}

#photoupload-div input {
    width: 75%;
}
#photoupload-div button {
    background-color: blue;
    border-radius: 0%;
    border: 1px solid black;
    width: 25%;
}